.LocationDetails {
    display: flex;
    gap: 2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    background-color: white;
    position: absolute;
    top: 30%;
    right: 50%;
    z-index: 9999;
    transform: translateX(50%);
}

.LocationDetails > div {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-right: 20px;
}

.LocationDetails > div:last-child {
    border: none;
}

.LocationDetails small {
    color: rgba(0,0,0,0.4);
    font-weight: bolder;
}